main {
  width: 800px;
  margin: 200px auto 72px;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(44, 44, 44);
  display: inline-block;
  margin-top: -134px;
}
h1 {
  font-size: 30px;
  color: rgb(31, 25, 25);
}
h1 span {
  color: rgb(66, 2, 2);
}
a {
  color: rgb(167, 1, 78);
}
#todays-challenge {
  color: rgb(75, 59, 59);
  font-weight: bold;
  font-size: 52px;
}
